{% extends 'base.html.twig' %}

{% block title %}Edit Guardian{% endblock %}

{% block body %}
    <h1>Edit Guardian</h1>

    {{ include('guardian/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_guardian_index') }}" class="btn btn-primary">back to list</a>

    {{ include('guardian/_delete_form.html.twig') }}
{% endblock %}
